<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815664814948-e0ej4kpu9nnc313qmfvl9r38uvgit07c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815664814948-e0ej4kpu9nnc313qmfvl9r38uvgit07c</string>
	<key>API_KEY</key>
	<string>AIzaSyCfK24LG84CKLa3hzi8LHVzH3nPIORuIMU</string>
	<key>GCM_SENDER_ID</key>
	<string>815664814948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayagembom.Partners</string>
	<key>PROJECT_ID</key>
	<string>partners-df211</string>
	<key>STORAGE_BUCKET</key>
	<string>partners-df211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815664814948:ios:d929c7887e39f0194e3871</string>
</dict>
</plist>